/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    //background-image: url('../img/bg.png');
    background-color: #EFEFEF;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    //border-bottom: 20px solid #EEE;
}

.footer-container,
.main aside {
    border-top: 20px solid #222;
}

.header-container {
    //background: rgb(243, 243, 243);
}
.footer-container,
.main aside {
    background-image: url('../img/dark_bg.png');
}

.main aside ul{
    padding: 0;
}

.main aside li{
    list-style: none;
}
.main aside a{
    color: white;
}

.main aside a:hover{
    text-decoration: none;
}

.main aside #carte-container{
    background-color: rgba(255,255,255,0.6);
    text-align: center;
}

.main aside #carte{
    width: 300px;
    height :300px;
    margin: 0px;
    padding: 0px;
}

.main aside #carte-container a {
    color: #0078A8;
    font-size: 0.7em;
    text-decoration: none;

}

.title {
    color: white;
    text-indent: 1000em;
    overflow: hidden;
    background-image: url('../img/logo.png');
    width : 400px;
    height: 100px;
    background-size:400px ;
    background-repeat: no-repeat;
}

header h2 {
    float: left;
    color: black;
    font-size: 1em;
    margin-top: 50px;
    width: 200px;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #BBB;
    background-image: url('../img/dark_bg.png');
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.main aside p:first-letter{
    float: left;
    font-size: 3em;
    line-height: 1;
    margin-right: 0.1em;
    margin-top: 0.2em;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.footer-container footer a {
    color: white;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}



 /* ===========SlideShow=========== */
.slides_container {
    width:550px;
    height:270px;
}

.slides_container div {
    width:570px;
    height:270px;
    display:block;
}

.pagination li {
    display: inline-block;
    overflow: hidden;
    width: 1em;
    height: .75em;
    line-height: .9em;
    font-size: 2em;
}

.pagination li a {
    text-decoration: none;
    color: grey;
}

.pagination li a:before {
    content:"● ";
}

.pagination li.current a:before {
    content:"○ ";
}

.pagination li a:hover {
    color: #CCC;
}

.pagination li a:focus {
    outline: 0;
}

.pagination {
    width:550px;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    text-align: center;
}

.status {
    display: block;
    text-align: center;
    color : white;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
}

.statusopen, .statusopen:visited {
    background-color: #339900;
}

.statusclosed, .statusclosed:visited {
    background-color: #CC0000;
}

#status_bar {
    display: none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 17%;
        margin: 0 1.7%;
        padding: 7px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/*    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
*/

    .pagination li  {
  text-shadow: 0px 0px 5px #aaa;
    }

    nav a:hover {
        text-shadow: 0px 0px 8px #aaa;
    }
/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main #content {
        float: left;
        width: 57%;
        min-width: 570px;
    }

    .main aside {
        float: right;
        width: 28%;
        min-width: 300px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
