- extends "base.tpl"
- block title
    Projets - UrLab
- block content
    %h1 Projets passés, en cours et à venir

    %h3#confs Conférences
    %p
        UrLab organise régulièrement des conférences sur des sujets variés. Chaque mois, le Smart Monday regroupe 3 ou 4 talks, faisant intervenir des membres du hackerspace et des orateurs externes, parfois même de renomée internationale.

    %p
        - for img in confs
            %img{'src': "{{img}}", 'height': 250}

    %hr

    %h3#elec &Eacute;lectronique
    %p
        Notre collection de composants électroniques s'étoffe chaque jour, parfois completée par des récompenses à des concours ou grâce à de généreux donateurs. Nous encourageons l'émergence de projets grâce à notre collection variée d'
        %a{'href': 'http://arduino.cc'} Arduinos
        , et sommes toujours heureux d'aider les visiteurs ou membres à bien démarrer sur cette plateforme.

    %p
        - for img in electronik
            %img{'src': "{{img}}", 'height': 250}

    %hr

    %h3#hal HAL
    %p
        %a{'href': "http://github.com/urlab/hal", 'target': '_blank'} HAL
        est notre interface hackerspace-internet. Il s'agit d'un montage maison d'électronique et des logiciels correspondant pour allumer des LEDs, connecter la sonnette et la porte des escalier à 
        %a{'href': "http://webchat.freenode.net/?channels=urlab", 'target': '_blank'} notre salon de chat
        , collecter des données météo et d'utilisation de l'éclairage/chauffage.
    %p
        - for img in hal
            %img{'src': "{{img}}", 'height': 250}

    %hr

    %h3#reprap Reprap
    %p
        Grâce au BEA, nous avons obtenu une imprimante 3D; le modèle Reprap Mendel. C'est une imprimante libre, ce qui signifie que n'importe qui peut en téléchager les plans et imprimer les composants nécessaires à sa réalisation (parce que oui, une imprimante 3D ça sert aussi à imprimer des imprimantes 3D). L'imprimante est encore en cours de montage, n'hésite pas à venir voir le projet évoluer, et pourquoi pas, y participer ?

    %p
        - for img in reprap
            %img{'src': "{{img}}", 'height': 250}

    %hr

    %h3#logo Invasion du monde
    %p
        Notre logo a déjà fait le tour du monde ! Venez partager vos stickers et donner une bonne dose de #SWAG à votre ordinateur préféré !

    %p
        - for img in stickers
            %img{'src': "{{img}}", 'height': 250}